# Flutter build artifacts
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json

# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/

# Generated
lib/**/*.g.dart
lib/**/*.freezed.dart
lib/**/*.gr.dart

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Secrets
.env
google-services.json
GoogleService-Info.plist
